<div class="d-flex justify-content-between flex-column p-2">
  <h1 class="">Todas las tasks</h1>
  <% @tasks.each do |task|  %>
    <div class="d-flex align-items-center m-1">
      <% if task.completed %>
        <span><i class="far fa-2x fa-check-square"></i></span>
      <% else %> 
        <span><i class="far fa-2x fa-square"></i></span>
      <% end %>
      <h2 class="titulo_link m-2"><%= link_to task.title.capitalize, task_path(task) %></h2>
    </div>
  <% end %>
<%= link_to "Crear una tarea", new_path  %>
</div>
